<!-- about.html -->

{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}

<setion class="center">
    <h1 class="headline-h1">About Big Mike! 👨‍💻</h1>
    <br><br>
</setion>
<section class="about-container">
    <figure>
        <img src="../static/images/site/Big_Mike.jpg" alt="Big Mike" width="400px">
        <figcaption>Big Mike. 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/site/Chicago_Southland.jpg" alt="Chicago Southland" width="400px">
        <figcaption>Chicago Southland. 🏙️</figcaption>
    </figure>
     <figure>
        <img src="../static/images/site/South_Holland.jpg" alt="South Holland" width="400px">
        <figcaption>South Holland. 🏪</figcaption>
    </figure>
</section>

{% endblock %}

